.App {
  text-align: center;
}

nav{
  display:inline-flexbox;
  justify-content:right;
  align-items: center;
  min-height: 10vh;
  background: rgb(61, 56, 56);
  color:white
}

ul{
  display:contents;
  gap: 20px;
  justify-content: space-between;
  list-style: none;
  margin-right: 30px;
}

body{
  background-image: url("bg.jpg");
}

/* .home{
  background-image: url("img2_hd.jpg");
} */